@import 'dialog';
@import 'Glyphter';
$black: rgba(#000, 0.8);
$grey: lighten(#000, 90%);
$white: #fff;
$red: #dd3d36;
$green: #1bbc9b;
$blue: #0073aa;
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin dropShadow{
  @include box-shadow(0,0,15px,$grey);
}

.explorer-dialog {
  width: 90%!important;
  min-width: 800px;
  z-index: 100000;
  height: 800px;
  top: 5%;
  .content {
    background-color: $grey;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
  }
  .file-explorer-container {
    min-height: 600px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 110%;
  background: rgba(0,0,0,.75);
  transition: opacity 300ms;
  z-index: 99999;
  &.closable{
    cursor: pointer;
  }
}
html,
body {
  height: 100%;
  .no-scroll{
    overflow: hidden!important;
  }
}
@mixin clearfix {
  &:after {
    display: block;
    content: '';
    clear: both;
    zoom: 1;
  }
}
.file-explorer-container {
  display: table;
  height: 100%;
  overflow: hidden;
  margin-top: 20px;
  width: 100%;
  * {
    box-sizing: border-box;
  }
}
.side-panel {
  display: table-cell;
  width: 220px;
  vertical-align: top;
  .inner {
    min-height: 300px;
    padding: 10px;
    background-color: $white;
    h3 {
      margin: 0;
    }
    .well {
      padding: 5px;
      background-color: $grey;
      border-radius: 5px;
    }
    .upload {
      margin-bottom: 10px;
      &.upload-error {
        border-left: $red 5px solid;
      }
      &.upload-complete {
        border-left: $green 5px solid;
      }
    }
  }
}
.main-panel {
  vertical-align: top;
  height: 100%;
  display: table-cell;
  .inner {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    .path-nav {
      padding: 10px;
      margin-bottom: 20px;
      background-color: $white;
      .path-links {
        margin-bottom: 5px;
      }
      .action-row {
        .action {
          margin-right: 10px;
          display: inline-block;
        }
      }
    }
    .label {
      font-size: 1em;
      font-weight: bold;
    }
    .file-system {
      height: 100%;
      min-height: 600px;
      $item-dim: 150px;
      .folder-area{
        max-height: 600px;
        height: 600px;
        overflow-y: scroll;
        padding: 5px;
        border: 1px lighten($black, 60%) dashed;
      }
      .item {
        @include dropShadow;
        overflow: hidden;
        width: $item-dim * (4/3);
        height: $item-dim;
        display: inline-block;
        margin: 5px;
        border: 1px lighten($black, 80%) solid;
        text-align: center;
        position: relative;

        &.checked{
          border-color: $blue;
        }

        .name{
          width: 90%;
          margin:auto;
        }
        .actions {
          text-align: left;
          z-index: 3;
          padding: 5px;
          position: absolute;
          width: 100%;
          bottom: 0;
          visibility: hidden;
          background-color: $blue ;
          &.shown {
            visibility: visible;
          }
          button {
            cursor: pointer;
            padding: 0;
            outline: none;
            background: transparent;
            border: none;
            &:active,
            &:focus {
              outline: none;
            }
          }
          .delete {
            font-weight: bold;
            color: $white;
            padding: 0 5px;
            &:hover {
              background-color: lighten($black, 20%);
            }
          }
        }
        a {
          cursor: pointer;
          display: block;
          height: $item-dim;
          width: 100%;
          .name {
            font-size: 0.8em;
          }
          div[class^=icon] {
            z-index: 2;
            position: absolute;
            height: 100%;
            width: 100%;
            font-size: 3.5em;
            color: rgba($black, 0.1);
            &:before {
              line-height: $item-dim;
            }
          }
        }
      }
    }
  }
}
