@mixin clearfix {
  &:after {
    display: block;
    content: '';
    clear: both;
    zoom: 1;
  }
}

$grey: #f5f5f5;

.file-explorer-container {
  font-family: 'Lato';
  font-weight: 100;
  .control-bar {
    border-radius: 5px;
    background-color: $grey;
    padding: 10px;
    margin-bottom: 10px;
  }
  .item.file {
    @include clearfix;
    padding: 5px;
    border: 1px solid $grey;
    margin-bottom: 4px;
    border-radius: 5px;
    a {
      display: block;
    }
    span {
      font-size:.7em;
      &.size {
        font-style: italic;
        color: darken($grey, 20%);
        &:before{
          content: '~';
        }
      }
      &.date {
        float: right;
        display: block;
      }
    }
  }
}
