.dialog {
  position: fixed;
  top: 150px;
  left: 5%;
  width: 90%;
  z-index: 1000;
  text-align: center;
}

.dialog .content {
  box-sizing: border-box;
  position: relative;
  background: white;
  max-width: 600px;
  min-width: 252px;
  border: 1px solid #eee;
  padding: 15px 20px;
  display: inline-block;
  text-align: left;
}

/* close */

.dialog .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none;
}

.dialog .close em {
  display: none;
}

.dialog.closable .close {
  display: block;
}

.dialog .close:hover {
  color: black;
}

.dialog .close:active {
  margin-top: 1px;
}

/* slide */

.dialog.slide {
  -webkit-transition: opacity 300ms, top 300ms;
  -moz-transition: opacity 300ms, top 300ms;
}

.dialog.slide.hide {
  opacity: 0;
  top: -500px;
}

/* fade */

.dialog.fade {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
}

.dialog.fade.hide {
  opacity: 0;
}

/* scale */

.dialog.scale {
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.dialog.scale.hide {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
}

/* off-center */

.dialog.off-center {
  text-align: left;
  width: inherit;
}
