<div class="item item-dir">
  <div data-hook="actions" class="actions">
    <button class="delete" title="Delete this directory" data-hook="delete">Delete</button>
  </div>
  <a link data-href="{{model.path}}">
    <div class="icon-dir">
    </div>
    {{truncate model.basename 20}}
  </a>
</div>
