<div class="item item-file">
  <div data-hook="actions" class="actions">
    <button data-hook="delete" title="Delete this file" class="delete">Delete</button>
  </div>
  <a data-hook="fileName">
    <div class="icon-file">
    </div>
    <div class="name">
      {{model.basename}}
    </div>
  </a>
</div>
