<div class="file-explorer-container">
  <div class="control-bar">
    <div class="input-group input-group-lg">
      <input type="text" data-hook="filter" class="form-control" value="{{model.filterStr}}" placeholder="Search & Filter">
      <span class="input-group-btn">
        <button type="button" data-hook="filterButton" class="btn btn-default">Search</button>
        <button type="button" data-hook="clearFilter" class="btn btn-link">Reset</button>
      </span>
    </div>
  </div>
  {{#each model.filteredList}}
    <div class="item file">
      <a href="{{path}}">{{filename}}</a>
      <span class="type">{{extension}} {{order}}</span>
      <span class="size">{{fileSize}}</span>
      <span class="date">{{formatMoment date 'MMM Do YYYY'}}</span>
    </div>
  {{else}}
    <h3>:( No results</h3>
  {{/each}}
</div>
