<div class="file-explorer-container">
  <div class="side-panel">
    <div class="inner">
      <h3>File Explorer</h3>
      <div class="uploads">
        <h4>Uploads</h4>
        <div data-hook="uploads">
        </div>
      </div>
    </div>
  </div>
  <div class="main-panel">
    <div class="inner">
      <div class="file-system" id="fileSystem">
        <div class="path-nav">
          <div class="path-links">
            {{#with model}}
              <span class="label">Current Path: </span>
              {{#each paths}}
                <a data-href="{{ link }}">{{name}}</a>
                <span class="separator">/</span>
              {{/each}}
            {{/with}}
          </div>
          <div class="action-row">
            <div class="action">
              <input data-hook="dirName" type="text">
              <button data-hook="createDir" class="button">
                <span class="icon-new"></span> New Folder
              </button>
            </div>
            <div class="action">
              <label>Embed this directory</label>
              <input data-hook="shortCode" type="text" value="[fileList path='{{model.currentPath}}']">
            </div>
          </div>
        </div>
        <div data-hook="listingCollection" class="folder-area">
        </div>
      </div>
    </div>
  </div>
</div>
